[2018-10-26 00:12] DeadSuperHero opened #1 "[Feature Request] Customize Actor Object Field Values"
**The Situation**
Currently, the Pterotype plugin leverages the `Site Title` for an AP Actor's Display Name, and `Tagline` for the profile description. Overall this works pretty well, and the mapping largely makes sense for accounts representing a publication. At the very least, this is a pretty sane default for a plugin that does not require any configuration.

![social_nasqueron](https://user-im

[2018-10-26 00:16] jdormit commented on #1
I agree, and this is on the roadmap. Another related problem to fix is that
Pterotype doesn't currently post Update activities for the Actor objects
when these fields change, which means that updates to site title etc. won't
be reflected in federated systems that keep a local copy of the object -
so, e.g. the blog's Mastodon profile page won't get updated with the new
information.

On Thu, Oct 25,

[2018-10-26 00:18] DeadSuperHero commented on #1
Ah, good to know! 😀

[2018-10-26 00:21] jdormit commented on #1
I'll put together some sort of roadmap document to publicize what I'm
thinking and how I'm prioritizing stuff.

Thanks for taking the time to give feedback, by the way 😊

On Thu, Oct 25, 2018, 8:18 PM Sean Tilley <notifications@github.com> wrote:

[2018-10-26 01:20] jdormit commented on #1
Okay, I released the development roadmap [here](https://getpterotype.com/roadmap/).

[2018-10-29 17:27] DeadSuperHero opened #2 "[Feature Request] Use Article activity type instead of Note"
Currently, Pterotype uses the `Note` activity type to make a little status on the Mastodon / Pleroma side of things. This is perfectly acceptable for brief statuses with link previews, but the caveat is that some ActivityPub platforms (Pleroma, Plume) can support full-blown articles with HTML formatting.

Given that we probably want broader compatibility here, would the following logic make sense?

[2018-10-29 18:43] jdormit commented on #2
This is really interesting, I hadn't thought about that. What do you think the best way to implement that would be? I think Mastodon at least has some info in its response headers that identify it. Or maybe there is something in the `@context` of the Actor that identifies what platform it is on?

So the logic would look something like this: when publishing an Activity, check the inbox URL we are a

[2018-10-29 21:53] jalcine commented on #2
This is me not knowing too much about clients but can you query a client to determine what types they support? Or would one have to do a match against the user agent to determine this?

[2018-10-29 21:58] kaniini commented on #2
activitypub has zero capability negotiation.  there is some concept of a "compound activity type" (yeah, because on top of the 250+ ones we don't use, we need compounding too).  but no implementation to my knowledge actually supports those.

i would suggest sending as article and banging gargron's head against the wall until he gives you a decent rendering.

[2018-10-29 21:59] agateblue commented on #2
I'd say you should send the type most suited for your content (Article in this case?), and let various applications handle the fallback to the proper content type if they need too (replace Article by Note for Mastodon, etc.)

[2018-10-29 22:00] DeadSuperHero commented on #2
Maybe the sane workaround here would be to default to `Article`, and Mastodon in turn can render unsupported activity types as `Note`?

[2018-10-29 22:00] DeadSuperHero commented on #2
Ah, I see @EliotBerriot beat me to it. ;)

[2018-10-29 22:01] mariusor commented on #2
I think [this PR](https://github.com/tootsuite/mastodon/pull/9121) that was merged yesterday is a first step for Mastodon to support Article objects.

[2018-10-29 22:05] mariusor commented on #2
I think that is very much against what ActivityPub as a standard represents. You should not encourage non-compliant applications to keep being that way.

Also the number of requests for disseminating an AP Activity is high enough as it is if you have multiple inboxes to send to, if you require multiple round-trips to each instance that those inboxes belong to it's probably going to get untenable.

[2018-10-29 22:39] DeadSuperHero commented on #2
Given current discussions, it sounds like the most reasonable approach here would be to just send `Article`, and let individual platforms render them however they want. It may not look like the best thing in the world right now @jdormit , but in time platforms can properly implement support for it.

Part of the problem here is that Mastodon isn't supporting `Article` in a way that conforms with ho

[2018-10-29 22:52] Halfwake commented on #2
Could we give both messages the same ID and send them with the Article format first and then the Note format? Hoped for behavior is as follows.
- If Article object is supported, the client will process it. If the client gets another message with the same ID, it'll be dropped.

- If the Article object cannot be handled, the client will drop it and forget the ID ever existed. If the client receives

[2018-10-29 22:57] jdormit commented on #2
I've thought about it, and I'm in favor of just sending an Article type for
posts and a Note for comments. The problem isn't that Mastodon rejects the
Article - it just displays it in a stupid way. I may look into PRing
Mastodon to make it display Articles more reasonably.

On Mon, Oct 29, 2018, 6:52 PM Drew <notifications@github.com> wrote:

[2018-10-30 07:06] mbajur commented on #2
@mariusor i would not name it like that - this PR is rather about making a Page object handled the same way as Article - converting it to note with excerpt and link to linked page, nothing more :)

[2018-10-30 09:50] jdormit commented on #2
@mbajur any thoughts about displaying Article/Page in Mastodon in a more helpful way? My main problem is setting the `summary` as the CW text and the `name` as the body, with a link to the content -- it would be much more useful IMO to display the `name` as the CW and the `summary` as the body.

[2018-10-30 10:22] jdormit commented on #2
@mbajur or better yet, don't put the content behind a CW at all - just display the `name` and the `summary` in the post body with a link to the `url` at the bottom (and link preview).

[2018-10-30 11:48] elegaanz commented on #2
Here is an issue to improve the way `Article` are displayed in Mastodon: https://github.com/tootsuite/mastodon/issues/8609

[2018-10-30 12:59] jdormit commented on #2
cb3e30184650a9e13121e548af79ddce71c21f3d restores posts' ActivityPub representation to use the `Article` type. I'll leave this issue open until the change makes it into a release.

[2018-10-31 17:03] aschrijver opened #3 "Broadening out: Pterotype - Feed your content to the Fediverse"
Hi @jdormit ,

Great project you got going here. I just found out about it, and love the idea. But there is one thing I was wondering about.. Aren't you selling this idea short, by positioning like this:

Why not position the project like your statement further on:

And then not just for blogs, but for content in general, positioning something like:

- Pterotype: Library that expands your audience

[2018-10-31 20:36] jdormit commented on #3
Thanks for the encouraging words! A few thoughts on this:

This wouldn't be possible with this code base. It's tightly coupled with the way WordPress does things, uses WordPress-specific functions and classes, etc.

In general, I like the idea of building out a more generic ActivityPub connector for sites. I've thought about building out AP integrations for Hugo or Jekyll, although that's inherent

[2018-10-31 21:02] aschrijver commented on #3
Thank you. Yes, I understand your reasoning. Note, that I didn't take (nor have) the time to figure out how you implemented the project. But I am working on Jekyll and Gatsby side-projects myself, and was thinking of having the sites publish updates to an existing account on e.g. a Mastodon server, and - when a user clicks the feed icon - show a rendering of the feed from the account in a site-bra

[2018-11-01 09:55] jdormit commented on #2
This was released in 1.2.0.

[2018-11-01 09:55] #2 closed, assigned to jdormit

[2018-11-01 10:12] jdormit commented on #3
Having the static site generate use a client to an existing AP server is a good idea - that'll definitely simplify the integration. Best of luck with Outreach! The Fediverse needs more organizations pushful useful products built on top of it - it's the only way it'll achieve the critical mass and userbase to take off.

I'm going to close out this issue now, but feel free to reach out on Mastodon t

[2018-11-01 10:12] #3 closed, assigned to nobody

[2018-11-02 18:00] DeadSuperHero commented on #1
I can confirm that this now works! Basically all one has to do is go to Customize on their Wordpress site, and set the Site Logo.

![social_nasqueron](https://user-images.githubusercontent.com/401560/47932272-6d94f100-de8e-11e8-93ee-364046207859.png)

All in all, this is very good news!

[2018-11-02 18:23] DeadSuperHero opened #4 "[Bug] Posts no longer federate, can't publish anything"
After attempting to upgrade to the new version of Pterotype, I ended up in a pretty messy situation where I experienced a WSOD all across my installation. After some poking around, I realized identity.php under the /client directory was missing, so I manually copied the code from the repo to patch it. That got the plugin working again, but now new posts don't federate out, and after making a few a

[2018-11-02 20:15] jdormit commented on #4
Uh oh. I would hold off deploying to your main domain for now while we
investigate this.

On Fri, Nov 2, 2018, 3:27 PM Sean Tilley <notifications@github.com wrote:

[2018-11-02 20:17] DeadSuperHero commented on #4
If it helps any, at some point I disabled and re-enabled the Pterotype plugin. Some Wordpress tutorial site offered a workaround to the WSOD problem by renaming the directory of a given plugin.

[2018-11-04 13:03] jdormit commented on #4
I think you're right that your database has gotten into a weird state - seems like it is trying to create ActivityPub objects that already exist. The weird part is that the unique ActivityPub ids are generated using MySQL's auto-increment columns, which should be universally unique even if you deactivate then reactivate the plugin.

When are these errors triggered? When you publish a new post?

[2018-11-04 13:25] jdormit opened #5 "Federation with Mastodon is broken?"
I can't tell if this is an issue with Mastodon or Pterotype.

I deleted and re-created the QA instance. Now, when I search for it in the Mastodon search bar, both on mastodon.technology and a locally running instance, no results come up. From the local Mastodon server logs I can see that the webfinger request is made and receives a 200 back from Pterotype, and I've confirmed manually that the webf

[2018-11-04 13:33] jdormit commented on #5
So I created an account on a new Mastodon instance, mastodon.social, which had never seen the QA instance actor before, and repeated the search. That instance found the QA actor with no problem. So it does seem to be a weird caching issue.

That also revealed an unrelated issue - when I try to follow the QA instance with my new mastodon.social account, I'm getting a 404 not found. Without having a

[2018-11-04 13:38] jdormit commented on #5
Update: mastodon.social actually just had a cached version of the blog actor (with out-of-date info). So basically it seems like the problem is that Mastodon aggressively caches everything and if you delete stuff it doesn't like to evict the cache.

[2018-11-04 22:33] jdormit commented on #5
So I made a new QA instance with a different URL, and webfinger discovery and follows are working fine with the new blog. However, federation doesn't seem to be working - investigating why now.

[2018-11-04 22:36] DeadSuperHero commented on #5
Thanks for the updates!

[2018-11-04 22:37] DeadSuperHero commented on #4
Yes, any attempts to publish get immediately stopped.

[2018-11-04 22:39] jdormit commented on #5
The error I'm getting back from Mastodon when we attempt to deliver the activity is:

`Public key not found for key http://qa1.getpterotype.com/wp-json/pterotype/v1/actor/-blog#publicKey`.

So I think maybe the public key field is still getting compacted (reduced to just an ID), which doesn't actually resolve if you make a request for it. So there are at least two things to resolve here:

1. Make

[2018-11-04 22:41] jdormit commented on #4
Okay, good to know. I'll think it'd be okay to just treat Create activities where the object already exists for some reason as updates rather than insertions. I'm not going to make that change right away though, given the other issues with the latest release (#5).

[2018-11-05 03:43] jdormit commented on #5
Ha, figured it out. The problem was that I was serving the WordPress instance over `https`, but it had its site URL configured to `http://qa1.getpterotype.com` (not `https`). This meant that the actor's `url` was mismatched between Mastodon and Pterotype, so Mastodon couldn't find the actor when it received an update. Once I updated the WordPress site URL (in settings) to `https://qa1.getpterotype

[2018-11-05 03:43] #5 closed, assigned to nobody

[2018-11-05 03:45] jdormit commented on #4
I figured out #5, and it wasn't related to this. I'm going to push out a change tomorrow that make inserting new ActivityPub objects with existing ids into the database work, but I'll `error_log` when that happens so we can try to track how often it's happening for you and maybe figure out how your DB got into this state in the first place.

[2018-11-05 03:47] jdormit commented on #5
Also, to close the loop on this, I re-did a search for the original QA instance (the one that was deleted and re-created), and it succeeded with no problem. So the cache does get evicted periodically.

[2018-11-05 11:05] jdormit commented on #4
@DeadSuperHero, can you post the full error lines here? I want to see the stack trace/line number of the errors just to make sure I fix the right thing.

[2018-11-05 18:56] DeadSuperHero commented on #4
No problem, here's the full output for one failed publishing event attempted minutes ago:

[code]

[2018-11-05 19:00] DeadSuperHero commented on #4
Also, if it helps any, here are the steps I took that screwed everything up.

1. Updated to latest version of Ptereotype (As of November 2nd)
2. Get WSOD on Admin as well as all public views
3. Rename pterotype plugin as an easy way to disable it. Plugin gets moved from `pterotype` to a new directory called `pterotype-old`.
4. Get some error messages about `identity.php` under the /client director

[2018-11-07 11:56] jdormit commented on #4
Hey @DeadSuperHero, looks like the logs you posted are still truncated at the end (the lines end in `$` and are cut off), so I still can't see the line numbers :disappointed:.

In terms of what you did, I don't see how that could corrupt the database, but maybe something went wrong with the db migrations when you turned it back on. Did you ever delete anything manually from MySQL?

There is anothe

[2018-11-08 06:59] mediaformat commented on #4
Fresh install
created new user, found on mastodon
new toot, no toots listed for user

Also: On mastodon the view profile links to https://ptero.urbanwildlife.biz/wp-json/pterotype/v1/actor/bo, which is great for machines, but for really it should link to https://ptero.urbanwildlife.biz/author/bo

[2018-11-08 14:21] jdormit commented on #1
Release 1.2.6 added an admin menu where the site's icon, description, and name in the Fediverse can be customized separately from the WordPress site identity. This means that you don't need to set your site logo to set the Fediverse logo, etc.

Customizing the username (@blog@thesite.com) is a little more complicated since we need to ensure that WebFinger requests for the old username still succee

[2018-11-08 14:21] #1 closed, assigned to jdormit

[2018-11-08 14:36] jdormit commented on #4
Did you follow the user on Mastodon? Due to the way the federation protocol
works, posts will only show up in the profile if at least one user on the
instance is following the blog actor. That happens because the blog will
only send Create activities to followers, and Mastodon only knows about the
post if someone sent the Create activity. I have some half-baked thought to
resolve that by keeping a

[2018-11-08 18:07] mediaformat commented on #4
Yes, I had followed the user @bo@ptero.urbanwildlife.biz

[2018-11-08 20:07] jdormit commented on #4
Hrm. Also hearing reports of this from other users. I'll pause other development and focus on figuring out what is going on.

[2018-11-08 20:16] jdormit commented on #4
So instances that are experiencing problems:

- https://blog.keysmash.xyz/
- https://ptero.urbanwildlife.biz/ (@mediaformat, is there any chance your site is configured with an `http` site URL in the WordPress settings? I noticed the blog is accessible over http and https)
- https://staging.wedistribute.org/

I'm thinking that the federation issues and the DB issues that @DeadSuperHero is experien

[2018-11-08 20:49] kvibber commented on #4
Detail on blog.keysmash.xyz: It was definitely federating on November 4, and it stopped on November 5. (Unfortunately I didn't notice until today. The good thing is I've been trying to post daily, which made it possible to narrow it down.)  Before I tried uninstalling and reinstalling the plugin, it was able to sync incoming comments from Mastodon, but didn't push anything outward.

It's running t

[2018-11-08 21:01] kvibber commented on #4
Interesting: Because the delete link on the plugin screen failed, I manually deleted the files and database tables in order to reinstall it cleanly this morning. When I re-installed the plugin, it didn't re-create the database tables.

I'm not certain, but I think this might be the error from when I tried to uninstall through the dashboard (before I removed the tables manually):

[code]

[2018-11-08 21:36] kvibber commented on #4
OK! After removing all the pterotype options from the options table, I was able to reactivate it and get it to re-create the tables. It's working again: I'm able to follow from Mastodon, see posts more or less instantly, see the updated profile, etc.

Older posts no longer sync comments, but newer ones do, which I was kind of expecting.

[2018-11-08 22:04] jdormit commented on #4
@kvibber thanks, that is super helpful! I'm going to take a close look at this ASAP (hopefully by the end of the week, or over the weekend for sure).

[2018-11-08 22:18] jdormit commented on #4
Also, it's interesting to me that manually deleting all the Pterotype data and starting from scratch fixed the issue - it makes me hopeful that it's no longer possible to get into this state in the latest version. Looking into those stack traces will help me confirm or deny, though.

[2018-11-09 11:02] jdormit commented on #4
A couple things I notice right off the bat about @kvibber's stack trace:

- it's trying to save an Update activity will a `null` object and an empty ID (`activitypub_id = ''`).
  This is happening on post creation, in the `transition_post_status` hook when Pterotype tries to create a new ActivityPub object to represent the post.
- this would be the direct cause of the next error, a constraint viol

[2018-11-09 11:15] jdormit commented on #4
~Okay, I've reproduced this bug. This happens when you update a post via "Quick edit" from the posts table. Now I'm looking into why and how we can fix it.~

I was wrong about what causes this. I don't have a full understanding yet, but what is happening is that somehow an object is getting saved to the objects table without an activitypub id, and never gets assigned one. When Pterotype makes a ne

[2018-11-09 13:36] jdormit commented on #4
Okay, I shipped out an update (1.2.7) that should prevent these errors - basically, instead of attempting to save the post with an empty `activitypub_id`, it first saves it with a random number there and then overwrites that with the actual id when it generates it. That prevents collisions on the `''` value.

@DeadSuperHero, if you update to the latest version of Pterotype, do the errors go away?

[2018-11-09 18:39] DeadSuperHero commented on #4
Yes, it works! Federation is up and running again.

[2018-11-09 18:42] jdormit commented on #4
Wooo! 🎉

[2018-11-09 19:05] DeadSuperHero opened #6 "[Feature Request] Show fedi avatars on comments"
At the moment, responses from fediverse clients show up as comments on Wordpress articles. This is a good start, but presently these comments do not render the avatars.

![will_this_post_get_published__ _we_distribute](https://user-images.githubusercontent.com/401560/48282721-4f3f7000-e40f-11e8-8df0-cef59b56b931.png)

A visual gimmick I'm trying to accomplish with my Wordpress is to make comments

[2018-11-09 19:51] DeadSuperHero opened #7 "[Feature Request] Support Custom Emoji from Fediverse Clients"
Just did a quick test to gauge emoji support, and this is what came up:

![will_this_post_get_published__ _we_distribute](https://user-images.githubusercontent.com/401560/48284644-d6dbad80-e414-11e8-9097-01ae0fc8b85f.png)

So, standard emoji works out of the box. But it would be really nice to support all of the [custom emoji](https://docs.joinmastodon.org/api/guidelines/#custom-emoji) (informally

[2018-11-09 19:56] DeadSuperHero commented on #7
So, it looks like emojos are basically rendered like so in statuses:

`<img height="32px" width="32px" alt="blobbounce" title="blobbounce" src="https://pleroma.site/emoji/blobbounce.png">`

But it would seem that the HTML is not carried over into comments on the Wordpress side of things.

[2018-11-09 21:02] jdormit commented on #6
For sure, this wouldn't be very hard to do. Putting it on the roadmap.

[2018-11-09 21:03] jdormit commented on #7
I'll have to look into this. I don't really know how the custom emojis work on the Mastodon/Pleroma side of things, so I'm not sure what it would look like or how much work it would be to render them in WordPress.

[2018-11-10 03:52] jdormit commented on #6
Okay, this is released in 1.2.8:
![avatar-fedi](https://user-images.githubusercontent.com/6351890/48297258-14225880-e472-11e8-8bd6-4203fc4cf6e1.png)

[2018-11-10 03:52] #6 closed, assigned to nobody

[2018-11-10 14:44] mediaformat commented on #4
Still not working for me.

Here’s what I’ve done so far:
- updated to 1.2.7
- forced https
- deactivated, reactivated plug-in
- added a new user with a longer slug (@moncai@ptero.urbanwildlife.biz), followed on masto, posted, and no toots shown.

I’ll check the logs later to see what gives, and report back.

[2018-11-10 19:34] mediaformat commented on #4
So the logs are showing that federation is coming from mastodon.social
Specifically it looks like seen some delete user actions.

I could see the logs growing quickly here. Perhaps there could be some kind of check, that said user has either followed a user on my ´instance’, or that they have commented on a toot/post.

´[10-Nov-2018 06:37:51 UTC] WordPress database error Duplicate entry 'https://m

[2018-11-11 00:25] mediaformat commented on #4
So the logs are showing that federation is coming from mastodon.social
Specifically it looks like seen some delete user actions.

I could see the logs growing quickly here. Perhaps there could be some kind of check, that said user has either followed a user on my ´instance’, or that they have commented on a toot/post.

Repost to remove identifiers
`[10-Nov-2018 06:37:51 UTC] WordPress database err

[2018-11-11 00:53] kvibber commented on #4
I'm still having issues too, even with 1.2.8. After unfollowing & refollowing the blog, I'm able to see new *posts* showing up in Mastodon, and replies from Mastodon are syncing to the blog, but comments on the blog aren't being sent out.

I'm seeing a lot of these in error_log:

[code]

[2018-11-11 02:57] jdormit commented on #4
Hmm... Reopening this, clearly things are still broken.

[2018-11-11 13:32] jdormit commented on #4
Okay, I'm seeing a few separate issues in the stack traces here:

1. In the first trace in @mediaformat's comment, Pterotype attempts to persist an activity that it already has the the DB. This is a bug - the expected behavior there is that the plugin sees that is already persisted the activity and does not attempt to do so again.
2. In the second trace in @mediaformat's comment, the schema migrat

[2018-11-11 14:38] jdormit commented on #4
Alright, made a few changes:
- https://github.com/jdormit/pterotype/commit/3e6ddf96b6ed674be0f2bb0abdb32b450941453c adds a check to make sure the actor actually exists before handling requests to the outbox/inbox, which will prevent the errors that @kvibber was seeing. I'd still like to know what requests are triggering those `null` values for `actor_id`, though.
- https://github.com/jdormit/ptero

[2018-11-11 15:05] jdormit commented on #4
The above change are deployed to the plugin repo as version 1.2.9. When you all have a chance, I'd appreciate it if you'd try it out and let me know if your issues (or some of them) are resolved.

[2018-11-11 15:21] jdormit commented on #4
Update: I installed Pterotype on my personal blog and Mastodon is failing to find it, despite it successfully making a WebFinger request and a request for the blog actor. Sounds similar to problems @mediaformat is having. So that's the next place I'll investiage.

[2018-11-11 20:20] kvibber commented on #4
OK, two things:  The actor_id errors are all on requests from mastodon.cloud, which I find interesting, with the following pattern:

[code]

These all appear to be stemming from a test post I did before the uninstall/reinstall. The first is a test user I have on mastodon.cloud, while the other three are guest commenters on the blog itself.

Second thing:
I had another set of errors that I thought

[2018-11-12 01:41] mediaformat commented on #4
So I deleted 1.2.8

Installed 1.2.9

And this what logged:
`[11-Nov-2018 23:21:18 UTC] PHP Warning:  Missing argument 2 for wpdb::prepare(), called in /public_html/www/ptero/wp-content/plugins/pterotype/includes/server/actors.php on line 19 and defined in /public_html/www/ptero/wp-includes/wp-db.php on line 1222`

`[11-Nov-2018 23:21:20 UTC] PHP Warning:  Missing argument 2 for wpdb::prepare(), ca

[2018-11-12 02:30] mediaformat commented on #4
Retried install, and got the same errors, noticed I had a cache system enabled.

Removed cache system, Retried delete & reinstall, and the log errors have ceased.

But federation is still not working.

[2018-11-12 13:22] jdormit commented on #4
@kvibber awesome! Glad things are working for you now :smile:

I figured out the cause of the issues on my own blog: I had Apache URL rewrites configured incorrectly, which was causing my server to respond to WebFinger requests with a nonsensical value. Once I fixed that, discovery worked fine.

@mediaformat I found your blog user on mastodon.technology by searching for "@blog@ptero.urbanwildlife.

[2018-11-12 22:20] mediaformat commented on #4
Yess, following @blog worked!

[2018-11-12 22:31] mediaformat commented on #4
Has everyone been using @blog this whole time, and I was trying to get @user addresses to work, lol?

[2018-11-13 05:17] mediaformat opened #8 "Replies from fediverse are returned as if from instance"
Here is the scenario:
- WP Pterotype post from @blog@ptero.urbanwildlife.biz.
- A masto user @django@social.coop replies.
- comment is approved.
- WP sends same approved comment to Masto as @django@ptero.urbanwildlife.biz

[2018-11-13 11:06] jdormit commented on #8
So just to be clear, are you seeing duplicate comments? E.g. a Mastodon user posts a reply, which becomes a WordPress comment, which is then posted back to Mastodon as a separate Mastodon reply?

[2018-11-13 12:42] mediaformat commented on #8
Yes, exactly!

See if you can replicate it, by replying to the « new test » toot from @blog@ptero.urbanwildlife.biz

[2018-11-13 12:49] mediaformat commented on #8
![4429a688-a75e-42c0-9d31-b44f6a6b1491](https://user-images.githubusercontent.com/2895351/48414356-77351900-e718-11e8-865f-3d3df39eb745.png)

[2018-11-13 14:55] jdormit commented on #4
Oh man, yup. Honestly that's my bad, seeing as Pterotype doesn't have any documentation...

Sounds like these issues are resolved for everyone involved now. I'm going to close this out again.

[2018-11-13 14:55] #4 closed, assigned to nobody

[2018-11-14 20:48] sunjam opened #9 "Documentation for Getting Started"
Hi!  Thanks for this.  Where is the documentation for actually using Pterotype?

- I see the description of what the plugin is for on the website + github readme.
- There is a setting to add an activitypub description and icon within wordpress admin panel.
- There is no further documentation available as far as I can tell.

[2018-11-14 22:02] jdormit commented on #9
Er yeah, that's kinda it for now. Getting started documentation is on [the roadmap](https://getpterotype.com/roadmap). I intend to write some as soon as I get the time, and surface it both from the admin panel and on plugin activation as well as on GitHub and the website.

In the meantime, is there anything specifically I can help you with? The most common question is how to find your blog in othe

[2018-11-14 22:51] sunjam commented on #9
Thanks for the info.

* Is it possible for me to change the discoverable url to @news@yourwebsite.com

I just installed the plugin today and I see I cannot yet find my instance from the Mastodon search bar.  I have not posted any new content yet.

* Will the plugin allow both my new pages and posts to show up in federated searches?
* Will the plugin work with pre-existing pages and posts to show u

[2018-11-15 11:42] jdormit commented on #9
- It's not currently possible to change the ActivityPub username, although it will be at some point.
- The plugin will only federate posts, not pages.
- Pre-existing pages don't currently get put in the ActivityPub feed, so they wouldn't be searchable from other Fediverse sites

Some common gotchas for getting Pterotype set up:
- Your site needs to use SSL (`https` instead of `http`). Otherwise fe

[2018-11-16 00:43] 360fun commented on #9
Hi! You made an important contribution to all of us with this piece of code! :D
I'm also trying to figure it out how this plug-in works... :P
My blog is in a subfolder, can this generate problems?
If yes, can I solve it without moving it (I don't want the blog to be the main page)?

[2018-11-16 12:56] jdormit commented on #9
Great question. I'm not sure. Can you give me some more details about your site setup? What's your blog's URL?

[2018-11-16 17:16] sunjam commented on #9
I posted an article and cannot yet find it via federation.

https://james.network/archives/105

[2018-11-16 23:15] 360fun commented on #9
https://360fun.net
https://360fun.net/blog <<< WP + Pterotype
I cannot find my user on Mastodon with @blog@360fun.net :(

[2018-11-16 23:19] 360fun commented on #9
I made a test and I can find your user/blog since the WP deploy is in the top folder but I cannot see any toots (but the counter shows 2), I think the problem is connected to the alert "Information below may reflect the user's profile incompletely. View full profile".
How should work Mastodon in this scenario? How it gets the data? Seems like there's some sort of caching that didn't work properly.

[2018-11-16 23:41] sunjam commented on #9
Francisco,

Have you tried actually publishing a federated post? If not, please do!

On Fri, Nov 16, 2018, 3:19 PM Francesco Marino <notifications@github.com
wrote:

[2018-11-16 23:58] 360fun commented on #9
I've to activate something in the post to make it federated? I just published a new one but I haven't found any new option to activate:
https://www.360fun.net/blogfun/2018/11/pterotype-test/

[2018-11-17 12:33] jdormit commented on #9
@sunjam it does appear that Pterotype is working correctly in your case. The thing is, the way that Mastodon uses the ActivityPub profile is that it only shows posts that have been sent to it (it won't fetch the content of the posts from a remote server). This means that in order for your posts to show up on a Mastodon instance, at least one person on that instance must be following the blog profi

[2018-11-17 12:44] jdormit commented on #8
Hey @mediaformat, I left a reply on that post. Once you approve it, let's see if it gets duplicated.

[2018-11-18 17:52] sunjam commented on #9
I'm unsure on how to find the blog via a channel search.  Is this possible?  Tried searching for @blog@james.network via [WebFinger](https://client.webfinger.net/lookup?resource=%40blog%40james.network) and received some errors:

[code]

[2018-11-18 23:52] 360fun commented on #9
I tried with the updated version but if I cannot find the user in Mastodon looking for: @blog@360fun.net :(

[2018-11-19 16:36] mediaformat commented on #8
Hey, didn't see the reply until just now.

So, there was just your comment there to approve.
The minute I approved it though, a second comment was created using your username@ptero.urbaniwildlife.biz as the associated email.

Also of interest, the WP created comments, although remaining unapproved in WP, are visible on Masto.
![ptero-comments-2](https://user-images.githubusercontent.com/2895351/48

[2018-11-19 19:02] mediaformat commented on #9
@sunjam

For webfinger try with out the first @: `blog@james.network` -> [WebFinger](https://client.webfinger.net/lookup?resource=blog%40james.network)

Your blog is findable through mastodon.social.

[2018-11-19 20:50] mediaformat commented on #8
I've tried modifying Discussion settings of wordpress.
I had the following 2 settings enabled:
-  Attempt to notify any blogs linked to from the article
-  Allow link notifications from other blogs (pingbacks and trackbacks) on new articles

Tooted some more replies after disabling them, but it hasn't changed the behaviour.

Also, I've left a Toot on qa.getpterotype.com, might help debug.

[2018-11-20 10:47] jdormit commented on #8
Yup, it definitely got duplicated. Can you confirm the version of Pterotype you are running?

[2018-11-20 14:11] mediaformat commented on #8
Version 1.2.11

[2018-11-20 14:17] jdormit commented on #9
Sorry, thought I commented here. Must have forgotten to submit it. To echo @mediaformat's point, the `@` prefix is actually just a convention that Mastodon uses to denote accounts. The actual account you want to search for is `blog@james.network`.

@360fun it looks like WebFinger discovery is enabled for the account `blog@360fun.net/blog`, but it is redirecting:
[code]

Do you have pretty permalin

[2018-11-20 14:23] 360fun commented on #9
They are enabled, I'm using this format:
![image](https://user-images.githubusercontent.com/844090/48779473-f78ae980-ecd7-11e8-8dda-b1cf23c12eaf.png)

The real subfolder is "blogfun", the htaccess manages the redirect...is it a problem?

[2018-11-20 14:51] pfefferle commented on #9
`.well-known/webfinger` has to be at the root level of your domain and shouldn‘t/can‘t be redirected. If you have your blog in a subdirectory, you have to manually generate a webfinger server at the root level.

[2018-11-20 14:53] jdormit commented on #9
🤦‍♂️ That makes total sense. Thanks @pfefferle.

[2018-11-20 14:54] pfefferle commented on #9
But you can use your profile URL instead.

[2018-11-20 15:01] pfefferle commented on #9
BTW: WebFinger/acct seems to not support a path in the identifier. Only `user@host` https://tools.ietf.org/html/rfc7565

[2018-11-20 15:02] pfefferle commented on #9
@jdormit no problem ☺️

[2018-11-20 15:05] 360fun commented on #9
How can I do that?

[2018-11-20 15:07] pfefferle commented on #9
You can generate a rewrite rule, that forwards the request to your blogs webfinger endpoint https://gist.github.com/aaronpk/5846789

[2018-11-20 18:51] kvibber opened #10 "Username is inconsistent for a blog in a folder"
After testing for a few weeks on https://blog.keysmash.xyz I've set up Pterotype on my long-running blog at https://www.hyperborea.org/journal/

It's sort of working, but the username is inconsistent because the blog is in a folder instead of at the top level of the website.

- Searching in Mastodon for blog@www.hyperborea.org doesn't find anything.
- Searching for blog@www.hyperborea.org/journal

[2018-11-20 19:08] pfefferle commented on #10
See https://github.com/pterotype-project/pterotype/issues/9#issuecomment-440299905 and following comments

[2018-11-20 19:36] kvibber commented on #10
@pfefferle Thanks. I was able to use the following rewrite rules to get blog@www.hyperborea.org to resolve using webfinger.net

[code]

On a new Mastodon instance, I'm able to find the profile by searching for @blog@www.hyperborea.org, and the profile that results is @blog@www.hyperborea.org/journal

On a Mastodon instance that already knows about @blog@www.hyperborea.org/journal, searching for @b

[2018-11-20 19:41] jdormit commented on #10
Yeah, I think that's exactly it. I'll see if I can get this done in the next couple of days.

[2018-11-20 20:03] pfefferle commented on #10
@jdormit yes, I would highly recommend to remove the `path` from the `acct`.

This was already discussed on the mastodon repo a year ago https://github.com/tootsuite/mastodon/issues/752

[2018-11-21 03:43] jdormit commented on #10
Okay, 1.2.12 reverts the earlier change and requires that `.well-known` exist at the root domain. It also removes the path from account paths, so @kvibber's actor account will be `@blog@www.hyperborea.org`. That means the correct rewrite rule should be:
[code]

[2018-11-21 06:22] kvibber commented on #10
Thanks! So, that *mostly* works. On Photog.social, everything seems to be working as expected. I can follow the blog at @blog@www.hyperborea.org, boost and reply to comments there. But at wandering.shop and booktoot.club, where I'd previously looked up @blog@www.hyperborea.org/journal, it still sees posts coming through on @blog@www.hyperborea.orgjournal - including the one I boosted on photog.soc

[2018-11-21 06:36] pfefferle commented on #10
Mastodon has a really strong caching... I also had this problem working on an ActivityPub plugin... I do not there is a solution except waiting...

[2018-11-21 06:45] kvibber commented on #10
Yeah, I figured that was entirely on Mastodon's end.

On the plus side, interacting with it does seem to work either way. I'm able to reply to the post from both wandering.shop (which sees the old name) and photog.social (which sees the new name) and have the replies sync as comments.

[2018-11-21 22:12] kvibber opened #11 "Scheduled posts not federating"
Not sure if this is a known issue or not, but scheduled posts in WP aren't showing up in ActivityPub when published. Pterotype 1.2.12, WP 4.9.8 and WP 5.0 beta.

[2018-11-23 14:53] sunjam opened #12 "Unable to locate from Hubzilla"
Mastodon is able to find them, but I'm unable to locate my federated activity stream or blog@james.network from within [Hubzilla](https://project.hubzilla.org/page/hubzilla/hubzilla-project).

[2018-11-24 19:59] sunjam commented on #12
_Follow up from Hubzilla dev:_

The details are that we weren't recognising "Organization" as a valid actor type.

[master 37a77cc] support pterotype

We'll see if this can be pushed into the next point release.

[2018-11-24 21:30] jdormit commented on #12
Great news! I'm going to close this in that case since it sounds like the problem wasn't on our end. Thanks for following up!

[2018-11-24 21:30] #12 closed, assigned to nobody

[2018-11-26 11:35] hrefhref opened #13 "NodeInfo endpoint"
Hi, nice work!

Could you consider adding a [nodeinfo](https://github.com/jhass/nodeinfo) endpoint so various fediverse lists could identify your project?

Thanks :)

[2018-11-26 11:53] jdormit commented on #13
Definitely a good idea. I'll put this on the roadmap - it'll probably take me a while to get to it, I'm in the middle of a pretty significant refactor at the moment.

[2018-11-27 16:56] sunjam opened #14 "Adding Pterotype to the-federation.info"
[As mentioned in this thread](https://github.com/thefederationinfo/the-federation.info/issues/163#issuecomment-441777813)

[2018-11-27 17:20] pfefferle commented on #14
Nice!

BTW: I am working on an extensible nodeinfo plugin: https://github.com/pfefferle/wordpress-nodeinfo and on support for the OStatus and activitypub plugins for wordpress

[2018-11-27 18:03] jdormit commented on #14
Very cool! Will the nodeinfo plugin be something I could pull into and
use in Pterotype when it's ready?

Matthias Pfefferle writes:

      Nice!

      BTW: I am working on an extensible nodeinfo plugin:
      [1][https://github.com/]
      pfefferle/wordpress-nodeinfo and on support for the OStatus
      and activitypub
      plugins for wordpress

      —
      You are receiving this because yo

[2018-11-28 08:35] pfefferle commented on #14
@jdormit you can add values using hooks, but I am not sure if you can bundle it, like you did with opengraph... let's talk if it is finished...

[2018-11-28 16:37] pfefferle commented on #14
see https://notiz.blog/.well-known/nodeinfo or https://notiz.blog/.well-known/x-nodeinfo2 or https://the-federation.info/wordpress ;)

[2018-11-28 20:11] jdormit commented on #14
Cool, definitely keep me in the loop. It would be amazing it I could just pull it in with Composer.

[2018-12-05 14:34] lapineige commented on #10
Hello,

How can I adapt this rewrite rule to Nginx ?

[2018-12-07 14:00] noplanman opened #15 "Follow is "Awaiting approval" on Mastodon"
(**Edit**: Forgot to add earlier)
- WP 5.0
- Pterotype 1.2.13
- Blog: https://freeflowingfusion.com

When following my blog on Mastodon, it's awaiting approval...

How and where can I approve the follow?
And why is this happening in the first place?

@jdormit I noticed on your demo instances that it has the same webfinger data, so not sure what's up here.

[2018-12-07 21:11] scottandrewlepera commented on #15
Can confirm. I can see the Follow request (and subsequent Unfollows) in the inbox JSON, but my website doesn't seem to auto-approve the request, even though I can see the `manuallyApprovesFollowers` item is set to false.

Using WP 4.9

(Update) I also turned on WP debugging while performing the follow/unfollow actions from Mastodon, and saw nothing in the debug.log, so I see no evidence of any err

[2018-12-07 21:45] scottandrewlepera opened #16 "[Feature Request] Support PHP 5.x for managed hosts"
The latest Pterotype plugin release (at https://wordpress.org/plugins/) requires PHP 7.2.11, but many WP installs on managed hosting (including my own) are still on 5.x. Fortunately I was able to make the plugin work with 5.x by replacing the function array dereferencing throughout the codebase, e.g.:

[code]
That _seems_ to be the only thing blocking the latest release from working in PHP 5.x.

S

[2018-12-08 02:14] sunjam commented on #14
@pfefferle Cool!  How are nodes added to the list on https://the-federation.info/wordpress

Not clear on how to add a site.

[2018-12-08 07:39] pfefferle commented on #14
You have to install the plugin and then call https://the-federation.info/register/<yournode.tld>

[2018-12-08 14:19] jdormit commented on #16
The rewrite is still at least several months away from shipping, so I would welcome a PR that implements 5.x support!

[2018-12-09 23:02] noplanman commented on #16
@scottandrewlepera A better approach / solution is to get in touch with your hoster and ask for them to update. PHP 5 is just weeks away from having official support dropped, so really shouldn't be used any more.

https://secure.php.net/supported-versions.php
https://secure.php.net/eol.php

[2018-12-09 23:03] noplanman commented on #15
@jdormit Any other info I can provide to figure this out? Or is it something super-obvious I'm missing? :confused:

[2018-12-09 23:16] jdormit commented on #15
I've seen this reported before from other beta testers. Honestly, I haven't been able to find the time to dig into what's happening yet. Here's what's supposed to happen: Pterotype receives the follow request and automatically sends back an Accept activity a few seconds later. On top of that, Pterotype sets `manuallyApprovesFollowers` to `false` in the Actor definitions, which should prevent Masto

[2018-12-10 00:27] noplanman commented on #15
@jdormit Ok, cool! Looking forward to the updates :innocent:

Not very urgent for me just yet, as I'm mainly exploring new frontiers at the moment, to pitch new possibilities to my clients.

[2018-12-10 02:46] scottandrewlepera commented on #16
Hey @noplanman I agree. My hosting provider has a schedule for upgrades that lasts well beyond the official EOL date for 5.x, and if it were anything more complicated than a drop-in syntax change, I wouldn't bother filing the issue.

I've lined up a PR for the fixes (and it does seem a little silly looking at the diff); I'll leave it to @jdormit to decide (and I won't be offended either way).

[2018-12-10 11:00] noplanman commented on #16
@scottandrewlepera What version of PHP are you using that causes the warning?

I've seen that it works fine for me [as of PHP 5.4](https://wiki.php.net/rfc/functionarraydereferencing) with this code:
[code]

Please explain if I'm missing something, I love learning about things like this in PHP :+1:

[2018-12-11 02:57] scottandrewlepera commented on #16
@jdormit Definitely an error and not a warning. I'm currently on PHP 5.6. Attempting to activate the Pterotype plugin would result in the following fatal in several locations:

`Parse error: syntax error, unexpected '['`

In each case, moving the array access to the next line fixed the fatal. Maybe not the most...sophisticated solution I guess? I suppose you could rewrite (or wrap) the functions a

[2018-12-12 04:57] carlydotwebsite commented on #15
Hi! I was working on on a similar Wordpress plugin when I heard about yours, and I've had similar issues getting Mastodon to report the follow activity as accepted. As far as I can tell from combing through the Mastodon source code, manuallyApprovesFollowers doesn't necessarily do anything if it's on a remote authority (e.g. what we're doing).

I was eventually able to get the follow to complete b

[2018-12-13 15:29] jdormit commented on #15
Hey @cmho, thanks! Great to see other devs bridging the WordPress-Fediverse gap. Pterotype does currently send back an Accept in response to receiving a Follow - seems like something is going wrong with that process for certain folks.

@noplanman @scottandrewlepera can you give me more details about your hosting setup? What web server are you using, etc.? I ask because the mechanism by which Ptero

[2018-12-13 16:35] carlydotwebsite commented on #15
@jdormit It might also be that you need to send Host as a header in addition to in the signature? This is just a guess, but Mastodon seems to be kind of picky about what headers it requires in order to process activities.

[2018-12-17 10:05] noplanman commented on #15
@jdormit I have my WordPress running on [Uberspace.de](https://uberspace.de/), a shared hosting.

It's running in a WP Multisite setup, maybe that's the issue?

Before I go exploring too deeply, could you point me to your code that does the neat hack? Then I can try to execute that in a more debug-like fashion to see if I can see who's not playing nicely :smile:

[2018-12-18 08:02] lapineige commented on #10
I tried with
`if ($arg_resource ~ ^(?<account>acct:.+)) {
rewrite ^.well-known/webfinger /journal/index.php?well-known=webfinger&resource=$account last;
}`
(for Nginx)

But it still doesn't work.
Just to check, I try to reach `mydomain.tld/subpath/.well-known/webfinger` with my browser, I have this message (which seems normal, at least it shows that's working ?) : Expected a "resource" parameter

[2018-12-21 22:41] kvibber opened #18 "Spam comments federate and can't be deleted"
Discovered an interesting one now that I've got Pterotype on my main blog, which is a bit of a spam magnet:

Wordpress comments in the spam folder show up in the ActivityPub feed and are visible in Mastodon.

And you can't permanently delete a comment due to a FK constraint error. That includes clicking "Delete Permanently," emptying the spam folder, or emptying the trash. The error is this:

[cod

[2018-12-31 20:41] DeadSuperHero commented on #15
Just wanted to follow up on this: my Mastodon instance can follow Pterotype blogs flawlessly, but my Pleroma instance is perpetually stuck on the "Awaiting Approval" sequence. I'm not really sure how to clear that hurdle.

[2018-12-31 22:30] noplanman commented on #15
@DeadSuperHero So you're saying it's a Mastodon instance issue?
Can you follow `@blog@freeflowingfusion.com` without a problem too?

Just wondering, if that's the case, how to get my Mastodon to play nice :thinking:

[2018-12-31 22:39] DeadSuperHero commented on #15
@noplanman no, it works fine with Mastodon. I'm just stuck with Pleroma, which only advances to `Follow Requested`. I just tested with your blog, same effects as mine.

I wonder if Pleroma is searching for something missing from my nginx configuration? I set up NextCloud recently, and it required me to expose some stuff for webfinger discovery...

[2018-12-31 22:44] jdormit commented on #15
I can look into more details later, but this is a know problem with
Pterotype right now. I'm not sure what Pleroma is looking for that we are
not providing though...

On Mon, Dec 31, 2018, 5:39 PM Sean Tilley <notifications@github.com wrote:

[2018-12-31 22:54] noplanman commented on #15
@DeadSuperHero So the follow worked correctly then?
I have the same `Awaiting approval` with the Nexcloud Social addon :confused:
So (as an off-topic) I'd be interested in a fix for that, if and when you figure out what's up.

[2019-01-01 01:06] jdormit commented on #15
Hmm, so it sounds like Pterotype probably isn't sending the Accept activity
correctly, but Mastodon is still accepting it for some reason. The next
step is probably running Pleroma locally and debugging to see what it
expects to happen.

On Dec 31, 2018 5:54 PM, "Armando Lüscher" <notifications@github.com> wrote:

I just tested with your blog, same effects as mine.

@DeadSuperHero <https://github.

[2019-01-01 18:07] jdormit commented on #18
Oh yikes. That's pretty bad. Sorry about this. My time is pretty limited this month, so if this is affecting your main blog I would recommend deactivating Pterotype until I can get to a fix, which likely won't be until February. :disappointed:

[2019-01-07 07:06] DeadSuperHero commented on #15
Hey @jdormit, is there any way to produce output between my Wordpress and Pleroma instance?
If there's something helpful that I can do to help move the dial here, I'd be happy.to help!

[2019-01-07 12:11] lapineige commented on #10
:up: :)

[2019-01-07 14:22] jdormit commented on #15
Do you run the Pleroma instance? It'd be super helpful to try to follow your WordPress blog from your Pleroma instance and check the Pleroma logs/database to see what actually happened. Here's what should happen:

1. Pleroma sends a Follow activity to Pterotype
2. Pterotype saves the Follow activity, then waits 5 seconds and sends back an Accept activity
3. Pleroma receives the Accept activity, sa

[2019-01-07 14:23] jdormit commented on #10
:tada: nice! What did you end up using for your rewrite rule?

[2019-01-07 16:05] lapineige commented on #10
In fact I still don't know how to configure it properly, that's why I'm doing a little :up: :)

[2019-02-11 11:10] lapineige commented on #10
:up: :)

[2019-02-23 16:04] eldelacajita commented on #10
So if I understood correctly, if my blog is under `domain.com/blog`, y should use put those lines in .htaccess, changing `/journal` with `/blog`. Is that correct?

I'm not very familiar with .htaccess. Is it OK to just add the lines at the end, like this?
[code]

[2019-02-23 16:44] jdormit commented on #10
@eldelacajita you should put the new rewrite rules before the WordPress-generated ones, otherwise those will rewrite the URL before it has the chance to match the Webfinger rule

[2019-02-25 09:51] lapineige commented on #10
Thanks for pointing that.

I did the change (with Nginx config), but it's still not working.

BTW do I have to install WebFinger plugin ?

[2019-02-25 10:03] pfefferle commented on #10
@eldelacajita you should create a `.htaccess` file in the root of your webspace (not inside `/blog`) and add only the mentioned lines.

[2019-02-25 10:10] pfefferle commented on #10
@eldelacajita if you are using the ActivityPub plugin, you have to also use a different endpoint `/blog/wp-json/activitypub/1.0/webfinger?resource=acct:${unescape:%1}`

[2019-02-26 10:10] eldelacajita commented on #10
Many thanks, @pfefferle and @jdormit! I'll try that and let you know how it goes.

[2019-03-04 19:11] sunjam commented on #14
Should I close this issue?  I was successfully able to register myself via pterotype.

quick side thought: I do wish the Wordpress the-federation listing described the exact plugins available for Wordpress + included URL links to them in the app store.

[2019-03-04 19:35] pfefferle commented on #14
@sunjam but what is the "exact" plugin? The NodeInfo plugin? The ActivityPub plugin? The OStatus plugin? What if a blog uses more than one?

[2019-03-04 19:37] pfefferle commented on #14
Or do you talk about the WordPress description text on top of the site https://github.com/thefederationinfo/the-federation.info/issues/163 ???

[2019-03-04 20:12] sunjam commented on #14
I'm talking about the description, because there are so many options.

On Mon, Mar 4, 2019, 11:37 AM Matthias Pfefferle <notifications@github.com>
wrote:

[2019-03-05 14:20] mcg commented on #15
Since these are likely related pfefferle/wordpress-activitypub#19 and pixelfed/pixelfed#664

[2019-03-05 14:34] jdormit commented on #15
Yeah seems like it. I've been putting this off since I'm in the process of rewriting all of the Pterotype ActivityPub code - I'll revisit when V2 is released.

See https://github.com/pterotype-project/activitypub-php/issues/5.

[2019-03-08 22:02] kaniini opened #19 "security: infinite loop DoS caused by improper forwarding semantics"
It is only safe to forward activities that do not directly impose side effects concerning an actor.  These activities which impose side effects should especially not be forwarded to the local instance (this is a violation of the AP spec!)

A possible solution (it worked for me, anyway):

[code]

Fixing this will fix follows from Pleroma.  These are incorrectly forwarded by your instance because Li

[2019-03-08 23:42] jdormit commented on #19
Understood, thanks for the report! I'll make some time in the next couple of days to implement this.

[2019-03-10 14:12] jdormit commented on #19
I tried this:
[code]
It didn't seem to fix follows from Pleroma. Can you explain to DoS a bit more? I'm not following where the infinite loop is coming in.

[2019-03-10 15:45] kaniini commented on #19
because all activities in litepub are addressed, you keep forwarding the activity to yourself.

[2019-04-24 11:14] poVoq opened #20 "Follow authors or categories?"
Is there a plan to allow other contacts then blog@?

Would be cool if individual authors or categories could get their own.

Thanks!

[2019-04-24 12:08] jdormit commented on #20
Yup, that is in the roadmap. In Pterotype V2, every WordPress user will
have their own feed, and users with the right permissions will have their
posts published to the blog feed as well.

On Wed, Apr 24, 2019, 7:14 AM poVoq <notifications@github.com> wrote:

[2019-04-26 22:10] sunjam opened #21 "Comments display IP address as well"
Pterotype version 1.4.3 post comments (tested from Mastodon and Hubzilla users to Wordpress) will also include:

- user profile picture
- user name
- @address@federated-service.com
- **IP Address**

I do not want IP addresses being displayed on my Wordpress blog.  Is there a way to remove those?  Thanks!

[2019-06-02 02:22] Cambridgeport90 commented on #13
Would definitely be good. I'm following the progress as well.

[2019-06-02 02:30] Cambridgeport90 commented on #15
Awaiting V.@.0.

[2019-06-30 14:43] 1337god opened #22 "Remote Follow"
Is there any remote follow button? I search the domain of the blog that is using this plugin, but I can not find it.

[2019-07-19 01:42] Cambridgeport90 commented on #22
That would be cool, too, also to have the endpoint be able to reply directly to people who engage with them, that way it will be consistent across both the fediverse and the site they are coming from.

[2019-08-09 20:59] sunjam opened #23 "Posts replace ' with &#8217;"
I've noticed that any `'` will be replaced with `&#8217;` in Mastodon.  Are others experiencing this?

`I've just returned from travelling.`

Shows up in Mastodon as

`I&#8217;ve just returned from travelling.`

[2019-12-02 15:21] DeadSuperHero commented on #18
I wanted to also add my 2 cents, as this is now affecting We Distribute. The good news is that the spam comments do not show up locally, but it was pointed out by a Friendica user today that the comments are there, and cannot be deleted.

Example: https://pirati.ca/display/0b0dde584fb2762afb0701a40ffe3195f7280f35

Trying to delete the spam comments results in a flash of red on the specific comment

[2019-12-03 05:49] jdormit commented on #18
Hey @DeadSuperHero. Thanks for posting this here.

The last time we chatted I had just gotten a new job and didn't have time for further work on Pterotype, and I'm sorry to say the situation hasn't improved. I won't be able to do any further Pterotype development in the foreseeable future.

I'm going to archive this repository (for now). I have some ideas floating around in my head for a much simp